<% @page_title = "Admin Menu" %>

<div class="menu">
  <center><h2>Admin Menu</h2></center>
  <center><div class="identity">Logged in as:</div></center>
  <ul>
     <center><li><%= link_to("New pationt", new_detail_url) %></li></center>
     <center><li><%= link_to("Sign In", sign_in_url) %></li></center>
     <center><li><%= link_to("Manage Admin Users",) %></li></center>
     <center><li><%=  link_to("Logout", logout_path) %></li></center>
     <button class="btn btn-outline-success"  type="submit">Search</button>
     <center><a class="btn btn-outline-success", class="nav-link active" aria-current="page" href="/logout_path">Sign_up</a></center>
  </ul>

    </div class="container">
</div>

