<% @page_title = "Admin Menu" %>

<div class="menu">
  <center><h2>Admin Menu</h2></center>
  <center><div class="identity">Logged in as:</div></center>
  <ul>
     <center><li><%= link_to("New pationt", new_detail_url) %></li></center>
     <center><li><%= link_to("Manage sections", ) %></li></center>
     <center><li><%= link_to("Manage Admin Users",) %></li></center>
     <center><li><%=  link_to("Logout", ) %></li></center>
     <button class="btn btn-outline-success"  type="submit">Search</button>
  </ul>

</div class="container">
</div>

