<div class="detail delete">
  <center><h2>Delete delete</h2>
  </center>
  <center><%= link_to('Back to List', {:action => 'index'}, :class => 'back-link') %></center>

  <%= form_for(@details, :mehtod => 'delete') do |f| %>
 
  <center><p>Are you sure you want to permanently delete this page?</p></center>


   <center><p class="reference-name"><%= f.object.name %></p></center>

   <center><div class="form-buttons"></center>
    <center><%= f.submit("Delete Subject") %></center>
    </div>
  <% end %>
</div>


