
<div class="subjects show">
  <h2>Show Subject</h2>

  <table summary="Subject detail view">
    <tr>
      <th><%= @detail.name%></th>
    </tr>
    <tr>
      <th><%= @detail.description%></th>
    </tr>
  </table>

</div>
